<!-- Displays Social Media Icons based on _config.yml settings -->
{{ if site.twitter }}
<span style="color: Black;">
     {% if site.twitter %}
        <a class="social-link" href="https://twitter.com/{{ site.twitter }}">
        <span style="color: {{ theme.social-color-footer }};">
            <i class="fab fa-twitter-square fa-lg other-icons"></i></a>
        </span>
    {% endif %}
    {% if site.github %}
        <a href="https://github.com/{{ site.github }}">
        <span style="color: {{ theme.social-color-footer }};">
            <i class="fab fa-github-square fa-lg other-icons"></i></a>
        </span>
    {% endif %}
    {% if site.linkedin %}
        <a href="https://www.linkedin.com/in/{{ site.linkedin }}">
        <span style="color: {{ theme.social-color-footer }};">
            <i class="fab fa-linkedin fa-lg other-icons"></i></a>
        </span>
    {% endif %}
    {% if site.codepen %}
        <a href="https://codepen.io/{{ site.codepen }}">
        <span style="color: {{ theme.social-color-footer }};">
            <i class="fab fa-codepen fa-lg other-icons"></i></a>
        </span>
    {% endif %}
    {% if site.stackoverflow %}
        <a href="https://stackoverflow.com/users/story/{{ site.stackoverflow }}">
        <span style="color: {{ theme.social-color-footer }};">
            <i class="fab fa-stack-overflow fa-lg other-icons"></i></a>
        </span>
    {% endif %}
    {% if site.medium %}
        <a href="https://{{ site.medium }}.medium.com/">
        <span style="color: {{ theme.social-color-footer }};">
            <i class="fab fa-medium fa-lg other-icons"></i></a>
        </span>
    {% endif %}
    {% if site.keybase %}
        <a href="https://keybase.io/{{ site.keybase }}">
        <span style="color: {{ theme.social-color-footer }};">
            <i class="fab fa-keybase other-icons"></i></a>
        </span>
    {% endif %} 
    {% if site.personalemail %}
        <a href="mailto:{{ site.personalemail }}">
        <span style="color: {{ theme.social-color-footer }};">
            <i class="fas fa-envelope other-icons"></i></a>
        </span>
    {% endif %} 
    {% if site.academicemail %}
        <a href="mailto:{{ site.academicemail }}">
        <span style="color: {{ theme.social-color-footer }};">
            <img src="{{ 'assets/img/acamail.svg' | relative_url }}" alt="Email" class="svg-icon" id="academic-email-icon">
        </span>
    {% endif %} 
    {% if site.phonenumber %}
        <a href="tel:{{site.phonenumber}}">
        <span style="color: {{ theme.social-color-footer }};">
            <i class="fas fa-phone other-icons"></i></a>
        </span>
    {% endif %} 
    <i> &nbsp;&nbsp; </i>
</span>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var svgImage = document.getElementById('academic-email-icon');
        var svgUrl = svgImage.getAttribute('src');

        function loadSVG() {
            fetch(svgUrl)
                .then(response => response.text())
                .then(svgData => {
                    var parser = new DOMParser();
                    var svgDom = parser.parseFromString(svgData, 'image/svg+xml');

                    var themeColor = getComputedStyle(svgImage.parentNode).color;
                    var svgElement = svgDom.querySelector('svg');
                    svgElement.querySelectorAll('[fill]').forEach(el => el.setAttribute('fill', themeColor));
                    svgElement.setAttribute('width', '1.33em');
                    svgElement.setAttribute('height', '1.33em');
                    svgElement.setAttribute('style', 'vertical-align: middle;');

                    svgImage.parentNode.replaceChild(svgElement, svgImage);
                })
                .catch(error => console.error('Error loading SVG:', error));
        }

        function checkOtherIcons() {
            var otherIcons = document.querySelectorAll('.other-icons');
            var otherIconsLoaded = Array.from(otherIcons).every(icon => icon.complete);

            if (otherIconsLoaded) {
                loadSVG();
            } else {
                setTimeout(checkOtherIcons, 100);
            }
        }

        checkOtherIcons();
    });
</script>