{% assign theme = site.data.themes[site.ui_theme] %}
<!-- Displays Social Media Icons based on _config.yml settings -->
<span style="color:{{ theme.social-color }};">
    <i> &nbsp;&nbsp; </i>
    {% if site.twitter %}
        <a class="social-link" href="https://twitter.com/{{ site.twitter }}">
        <span style="color: {{ theme.social-color }};">
            <i class="fab fa-twitter-square fa-lg"></i></a>
        </span>
    {% endif %}
    {% if site.github %}
        <a href="https://github.com/{{ site.github }}">
        <span style="color: {{ theme.social-color }};">
            <i class="fab fa-github-square fa-lg"></i></a>
        </span>
    {% endif %}
    {% if site.linkedin %}
        <a href="https://www.linkedin.com/in/{{ site.linkedin }}">
        <span style="color: {{ theme.social-color }};">
            <i class="fab fa-linkedin fa-lg"></i></a>
        </span>
    {% endif %}
    {% if site.codepen %}
        <a href="https://codepen.io/{{ site.codepen }}">
        <span style="color: {{ theme.social-color }};">
            <i class="fab fa-codepen fa-lg"></i></a>
        </span>
    {% endif %}
    {% if site.stackoverflow %}
        <a href="https://stackoverflow.com/users/story/{{ site.stackoverflow }}">
        <span style="color: {{ theme.social-color }};">
            <i class="fab fa-stack-overflow fa-lg"></i></a>
        </span>
    {% endif %}
    {% if site.medium %}
        <a href="https://{{ site.medium }}.medium.com/">
        <span style="color: {{ theme.social-color }};">
            <i class="fab fa-medium fa-lg"></i></a>
        </span>
    {% endif %}
    {% if site.keybase %}
        <a href="https://keybase.io/{{ site.keybase }}">
        <span style="color: {{ theme.social-color }};">
            <i class="fab fa-keybase"></i></a>
        </span>
    {% endif %}
    {% if site.personalemail %}
        <a href="mailto:{{ site.personalemail }}">
        <span style="color: {{ theme.social-color}};">
            <i class="fas fa-envelope"></i></a>
        </span>
    {% endif %} 
    {% if site.academicemail %}
        <a href="mailto:{{ site.academicemail }}">
        <span style="color: {{ theme.social-color}};">
            <img src="{{ 'assets/img/acamail.svg' | relative_url }}" alt="Email" id="academic-email-icon">
        </span>
    {% endif %} 
    {% if site.phonenumber %}
        <a href="tel:{{site.phonenumber}}">
        <span style="color: {{ theme.social-color }};">
            <i class="fas fa-phone"></i></a>
        </span>
    {% endif %}  
    <i> &nbsp;&nbsp; </i>
</span>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var svgImage = document.getElementById('academic-email-icon');
        var svgUrl = svgImage.getAttribute('src');

        fetch(svgUrl)
            .then(response => response.text())
            .then(svgData => {
                var parser = new DOMParser();
                var svgDom = parser.parseFromString(svgData, 'image/svg+xml');

                // Modify the color to match theme's social color
                var themeColor = getComputedStyle(svgImage.parentNode).color;
                svgDom.querySelector('svg').querySelectorAll('[fill]').forEach(el => el.setAttribute('fill', themeColor));

                // Set the size and vertical alignment of the SVG
                var svgElement = svgDom.querySelector('svg');
                svgElement.setAttribute('width', '1.33em');
                svgElement.setAttribute('height', '1.33em');
                svgElement.setAttribute('style', 'vertical-align: middle;');

                // Replace the <img> with the new SVG
                svgImage.parentNode.replaceChild(svgElement, svgImage);
            })
            .catch(error => console.error('Error loading SVG:', error));
    });
</script>