---
---

<div class="citation">

  {% if entry.title %}
    <p{% if entry.author or entry.howpublished or entry.address or entry.year or entry.note %} style="margin-bottom: 0;"{% endif %}>
      <strong>{{ entry.title }}</strong>
    </p>
  {% endif %}

  {% if entry.author %}
    <p{% if entry.howpublished or entry.address or entry.year or entry.note %} style="margin-bottom: 0;"{% endif %}>
      {% for author in entry.author_array %}
        {% if author.first == "Kory" and author.last == "Rosen" %}<em>{{ author.first }} {{ author.last }}</em>{% else %}{{ author.first }} {{ author.last }}{% endif %}{% unless forloop.last %}{% if forloop.rindex == 2 %}, and {% else %}, {% endif %}{% endunless %}
      {% endfor %}
    </p>
  {% endif %}

  {% if entry.howpublished %}
    <p{% if entry.address or entry.year or entry.note %} style="margin-bottom: 0;"{% endif %}>
      {{ entry.howpublished }}
    </p>
  {% endif %}

  {% if entry.address %}
    <p{% if entry.year or entry.note %} style="margin-bottom: 0;"{% endif %}>
      {{ entry.address }}
    </p>
  {% endif %}

  {% if entry.year %}
    <p{% if entry.note %} style="margin-bottom: 0;"{% endif %}>
      {% if entry.month and entry.day %}
        {% case entry.month %}
          {% when "jan" %}January
          {% when "feb" %}February
          {% when "mar" %}March
          {% when "apr" %}April
          {% when "may" %}May
          {% when "jun" %}June
          {% when "jul" %}July
          {% when "aug" %}August
          {% when "sep" %}September
          {% when "oct" %}October
          {% when "nov" %}November
          {% when "dec" %}December
          {% else %}{{ entry.month | capitalize }}
        {% endcase %}
        {{ entry.day }}, {{ entry.year }}
      {% elsif entry.month %}
        {% case entry.month %}
          {% when "jan" %}January
          {% when "feb" %}February
          {% when "mar" %}March
          {% when "apr" %}April
          {% when "may" %}May
          {% when "jun" %}June
          {% when "jul" %}July
          {% when "aug" %}August
          {% when "sep" %}September
          {% when "oct" %}October
          {% when "nov" %}November
          {% when "dec" %}December
          {% else %}{{ entry.month | capitalize }}
        {% endcase %}
        {{ entry.year }}
      {% else %}
        {{ entry.year }}
      {% endif %}
    </p>
  {% endif %}

  {% if entry.note %}
    <p>
      {{ entry.note }}
    </p>
  {% endif %}

</div>